SimpleITK~=2.2.1
tqdm~=4.65.0
numpy~=1.24.3
argparse~=1.4.0
matplotlib~=3.7.1
scipy~=1.10.1
torch~=2.0.1
pandas~=2.0.2
scikit-image~=0.21.0
pytest~=7.3.1
sklearn~=0.0.post5
scikit-learn~=1.2.2
setuptools~=59.6.0
torchvision~=0.15.2
pydicom~=2.3.1
Pillow~=9.5.0
tensorboard~=2.13.0
pie-torch~=0.0.1